* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: brown;
}

.wrapper {

  width: 65vmin;
  height: 70vmin;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}

.gameDetails {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 27px 20px;
  display: flex;
  justify-content: space-between;

}

.tableBoard {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.tableBoard .food {
  background: red;
  border-radius: 20px;

}

.tableBoard .snakeHead {
  background: rgb(47, 255, 54);
  border-radius : 3px;

}